jaxlib
flax
optax
pytest
pytest-xdist
matplotlib
ipython
dm-haiku
pytest-cov
scipy  # arena stats (scripts/jass_sweep.py, scripts/jass_v_arena.py)
pgx-minatar
black
blackdoc
isort
flake8
mypy
git+https://github.com/sotetsuk/minatar
